.btn-enviar {
  background: $negro;
  border: 0;
  color: $efeColor;
  font-weight: 600;
}

.btn-enviar:hover {
  background: #4250a2;
  border: 0;
  color: $efeColor;
}

.tarjetitauno {
  background-color: $negro;
  font-weight: 600;
}

.tarjetitados {
  background-color: $negro;
  font-weight: 600;
}

.tarjetitatres{
  background-color: $negro;
  font-weight: 600;
}

.btn-irainicio {
  background: $negro;
  border: 0;
  color: $efeColor;
  font-weight: 600;
}
.btn-irainicio:hover {
  background: #4250a2;
  border: 0;
  color:$efeColor;
}
