@import url('https://fonts.googlepis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

$fontsans: 'Figtree', sans-serif;

$mainColor: rgb(29, 192, 187);
$secondaryColor: white;
$terciaryColor: #efefef;
$otherColor: #0d2033;
$aquaColor: aqua;
$efeColor: #fff;
$facebookColor: #3b5998;
$twitterColor: #55acee;
$googleColor: #dd4b39;
$instagramColor: #ac2bac;
$linkedinColor: #0082ca;
$githubColor: #333333;
$twitchColor: #6441a5;
$negro: #000000;

